body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: slateblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.welcome-cont {
    width: 350px;
    height: 100px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #112311;
}

.main-cont {}